{% block base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block titulo %} Gym Carrey - Proyecto final{% endblock titulo%}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'rutina/css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            {% block menu %}
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">{% block nombre_del_lugar %} GYM Carrey {% endblock nombre_del_lugar %}</div>
                <div class="list-group list-group-flush">   
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{%url 'rutina-login' %}">{% block boton_1 %} Login {% endblock boton_1 %}</a>
                    {% if user.is_authenticated %}
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'profile-update' user.id %}">{% block boton_2 %} Perfil {% endblock boton_2 %}</a>
                    {% endif %}
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'horarios' %}">{% block boton_3 %} Horarios {% endblock boton_3 %}</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'rutinas-post' %}">{% block boton_4%} Rutinas {% endblock boton_4 %}</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">{% block boton_5 %} Staff {% endblock boton_5 %}</a>
                </div>  
            </div>
            {% endblock menu %}
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="{% url 'nosotros' %}">{% block boton_cabecera_1 %} Nosotros {% endblock boton_cabecera_1%}</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'index-rutina' %}">{% block boton_cabecera_2 %} Inicio {% endblock boton_cabecera_2%}</a></li>
                                <li class="nav-item dropdown">
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    {% endblock base %}
                    {% block contenido %}
                    <h1 class="mt-4">GYM Carrey</h1>
                    <p>solución integral que te facilitan los horarios de atencion, rutinas de entrenamiento, planes de alimentacion y el control de socios de forma rápida e intuitiva. Sin complicaciones y con la mejor experiencia para tus clientes.</p>
                    <p>
                        Entrenar y la salud van de la mano.
                    </p>
                </div>
            </div>
        </div>
                    {% endblock contenido %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
