{% extends 'rutina/index.html' %}
{% block titulo %}

Nosotros

{% endblock titulo %}

{% block contenido %}
<h1 class="mt-4">Integrantes</h1>
<h3 class="mt-4">
    Federico Carreño - 
    Gabriel Garabedian -
    Fabrizzio Crescini
</h3>
<h2 class="mt-4">Objetivo:</h2>
<h3 class="mt-4">Nos gustó el desafio de poder realizar un programa para gimnasios que pueda permitir a los profesores 
    poder cargar rutinas y modificar, para luego poder mostrarlo en un blog, nos gustaria poder luego agregar una tienda de venta de
    productos para entrenamiento para los clientes que utilizen la plataforma.
    Por el momento los usuarios registrados pueden cargar rutinas, modificar y borrarlas.

                   
</h3>

{% endblock contenido %}    
