{% extends 'rutina/index.html' %}
{% block titulo %}

Rutinas

{% endblock titulo %}

{% block contenido %}

<div class="container">
    {% if user.is_authenticated %}
        <a href="{% url 'crear-rutina'%}"> Crear nueva rutina </a>
        <a>  -   </a>
        <a href="{% url 'profile-update' user.id %}"> Actualizar </a>
        <a>  -   </a>
        <a href="{% url 'rutina-logout'%}"> Salir </a>
        
    {% else %}
        <a href="{% url 'rutina-login'%}"> Ingresar </a>
    
    {% endif %}

    <table class ="table">
        <tr>
            <th>Numero</th>
            <th>Rutina</th>
            <th>Date</th>
            <th>Action</th>
        </tr>


        {% for rutina in object_list %}
            <tr>
                <td>{{rutina.id}}</td>
                <td>{{rutina.nombre_rutina}}</td>
                <td>{{rutina.date_published}}</td>
                <td>
                    {% if user.is_authenticated %}
                        <a href="{% url 'delete-rutina' rutina.id  %}">-Borrar-</a>
                        <a href="{% url 'update-rutina' rutina.id  %}">-Actulizar-</a>
                    {% endif %}
                        <a href="{% url 'detail-rutina' rutina.id  %}">-ver-</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">anterior &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

</div>
    

    {% endblock contenido %}