{% extends 'rutina/index.html' %}
{% block titulo %} Rutinas{% endblock titulo%}
{% block contenido %}
<div class="container">
    <div class="text-center my-5">
        <h1 class="fw-bolder">GYM Carrey</h1>
        <p class="lead mb-0">Rutinas</p>
    </div>
</div>
<div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                {% if  rutina.0 %}
                <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ rutina.0.image_rutina.url }}" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{rutina.0.date_published}}</div>
                    <h2 class="card-title">{{rutina.0.nombre_rutina}}</h2>
                    <p class="card-text">{{rutina.0.short_content}}</p>
                    <a class="btn btn-primary" href="{% url 'detail-rutina' rutina.0.id %}">Leer rutina →</a>
                </div>
                {% endif %}
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    {% if rutina.1 %}
                    <div class="card mb-4">
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ rutina.1.image_rutina.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{rutina.1.date_published}}</div>
                            <h2 class="card-title">{{rutina.1.nombre_rutina}}</h2>
                            <p class="card-text">{{rutina.1.short_content}}</p>
                            <a class="btn btn-primary" href="{% url 'detail-rutina' rutina.1.id %}">Leer rutina →</a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                    {% if rutina.2 %}
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ rutina.2.image_rutina.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{rutina.2.date_published}}</div>
                            <h2 class="card-title">{{rutina.2.nombre_rutina}}</h2>
                            <p class="card-text">{{rutina.2.short_content}}</p>
                            <a class="btn btn-primary" href="{% url 'detail-rutina' rutina.2.id %}">Leer rutina →</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    {% if rutina.3 %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ rutina.3.image_rutina.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{rutina.3.date_published}}</div>
                            <h2 class="card-title">{{rutina.3.nombre_rutina}}</h2>
                            <p class="card-text">{{rutina.3.short_content}}</p>
                            <a class="btn btn-primary" href="{% url 'detail-rutina' rutina.3.id %}">Leer rutina →</a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                        {% if rutina.4 %}
                                <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ rutina.4.image_rutina.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{rutina.4.date_published}}</div>
                            <h2 class="card-title">{{rutina.4.nombre_rutina}}</h2>
                            <p class="card-text">{{rutina.4.short_content}}</p>
                            <a class="btn btn-primary" href="{% url 'detail-rutina' rutina.4.id %}">Leer rutina →</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Buscar</div>
                <div class="card-body">
                    <form action="{% url 'search-by-name-rutina' %}" method="get">
                        {% csrf_token %}
                        
                        <input type="search" name="rutina_nombre_rutina">
                        <input type="submit" value="buscar">
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    {% endblock contenido %}